/* Remove overflow to disable scrolling */
body {
  background-color: #222;
  overflow-y: hidden;
}

#container {
  margin: 10vh;
  margin-top: 50vh;
  text-align: center;
  color: #fefefe;
}

#circle {
  position: relative;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  margin: -13.6em auto;
  border: 2px solid #fefefe;
  z-index: 1;
  transition: all 15s linear;
  -webkit-transition-duration: 20s;
  transition-duration: 20s;
  transform: rotate(730deg);
}
#circle:hover{
   cursor:pointer;
   cursor:hand;
}
.hidden {
  transition: none !important;
  visibility: hidden;
}
#retry{
  text-align: center;
  margin: 2em auto;
  line-height: 1em;
  font-size: 2.5em;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: #fefefe;
  text-transform: uppercase;
  background-color: #222;
  transition: all 0.5s ease;

}
#retry2{
    transition: all 0.25s ease;
}
#retry2 > p{
  text-align: center;
  margin: 3.5em auto;
  line-height: 1em;
  font-size: 2.5em;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: #fefefe;
  text-transform: uppercase;
  background-color: #222;
  transition: all 0.25s ease;
}
#retry2 > h1{
   text-align: center;
  margin: -5.75em auto;
  line-height: 1em;
  font-size: 1.5em;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: #fefefe;
  text-transform: uppercase;
  background-color: #222;
}
#retry2:hover > p{
  color: #2ecc71;
  cursor: pointer;
  cursor: hand;
}
#retry:hover{
    color: #2ecc71;
  cursor: pointer;
  cursor: hand;
}
#circle2 {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid #fefefe;
}

#pointer {
  height: 1.5em;
  width: 12px;
  background-color: #2ecc71;
  margin: -0.75em auto;
  border-radius: 4px;
  z-index: 999;
  position: relative;
}

p {
  margin-top: -3.3em;
  line-height: 1em;
  font-size: 3em;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: #fefefe;
}
p > h4{
  font-size: 0.5em;
  margin-top: -0.5em;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: #fefefe;
}

.point {
  position: relative;
  z-index: 10;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #2ecc71;
  margin: -1em auto;
  border: 4px solid #222;
  box-shadow: 0 0 0 1pt #2ecc71;
  animation: pulse 1s ease-in-out infinite;
}
@keyframes pulse{
  0% {   box-shadow: 0 0 0 1pt #2ecc71; }
  50% {  box-shadow: 0 0 0 2.5pt #2ecc71;}
}
.centered{
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  margin-top: 5em;
  height: 5em;
}
.centered button{
  transition: all 0.3s ease;
  border: 1px solid #fefefe;
  background: none;
  padding: 15px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #fefefe;
  font-weight: 300;
  width: 225px;
  margin-top: 0.8em;
}
.centered button:hover{
  background-color: #FD6C6C;
  cursor: pointer;
}
h1{
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  color: #fefefe;
  font-weight: 800;
}
h2{
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #fefefe;
  font-weight: 400
  padding: 0 20px;
  line-height: 2em;
}
